footer {
  background-color: #f0f0f0;
  padding: 20px 0;
  box-shadow: 0px 0px 3px 3px rgba(128, 128, 128, 0.432);
  margin-top: 2vh;
}

.footer-container {
  max-width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
}

.logo-container {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
}

.logo-container img {
  display: flex;
  width: 150px;
  height: auto;
}

.links-container {
  flex: 1;
  max-width: 25vw;
}

.links-container span {
  display: block;
  font-weight: bold;
  margin-bottom: 10px;
}

.links-container a {
  display: block;
  color: #333;
  text-decoration: none;
  margin-bottom: 5px;
}

.links-container a:hover {
  text-decoration: underline;
}

.divider {
  margin: 20px 0;
  border: none;
  border-top: 1px solid #ccc;
}

.copyright {
  text-align: center;
  font-size: 14px;
  color: #666;
}

.lower-footer img {
  height: 1.5rem;
  opacity: 0.8;
  margin-right: 0.8rem;
}

.lower-footer {
  font-size: 14px;
  color: #666;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-left: 2vw;
  margin-right: 2vw;
}