body {
  background-size: auto;
}

.header-container {
  background-color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-bottom: 1px solid grey;
  box-shadow: 3px 2px 3px grey;
  position: fixed;
  z-index: 1000;
  width: 100%;
}

.navigation-bar {
  display: flex;
  width: 50%;
  align-items: center;
  justify-content: center;
}

.navigation-bar a {
  text-decoration: none;
  color: black;
  padding: 1vh;
}

.navigation-bar a:hover {
  background-color: #66666636;
  transition: all 0.3s;
}

.menu-button {
  height: 3vh;
  border: none;
  background-color: white;
  display: none;
}

.menu-icon {
  height: 100%;
}

.menu-icon:hover {
  opacity: 0.5;
  cursor: pointer;
}

.educ-icon {
  height: 7vh;
}

.social-media-icon {
  height: 4vh;
}

.social-media-icon:hover {
  opacity: 0.5;
  transition: opacity 0.2s;
}

.social-links-container {
  display: flex;
  justify-content: space-between;
  width: 10vw;
}

.modal {
  position: fixed;
  z-index: 999;
  left: 0;
  bottom: 0;
  width: 50%;
  height: 91.5%;
  background-color: white;
  overflow-y: auto;
  overflow-x: hidden;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  transition: transform 0.3s ease;
  box-shadow: 2px 2px 2px grey;
}

@media only screen and (max-width: 768px) {
  .menu-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .header-container {}

  .menu-button {
    display: flex;
  }

  nav a {
    display: none;
  }
}

.modal-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fefefe;
  padding: 20px;
  border-radius: 10px;
  max-height: 15vh;
  width: 100%;
  margin: 10px;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 2.5rem;
  cursor: pointer;
  color: #333;
}

.close-button:hover {
  color: #666;
}

.modal-content a {
  font-weight: bolder;
  font-size: large;
  width: 100%;
  padding: 1rem;
  display: block;
  text-decoration: none;
  color: #333;
  margin-bottom: 10px;
}

.modal-content a:hover {
  background-color: #6666663d;
}

body.modal-open {
  overflow: hidden;
}

.body-blur {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  filter: blur(5px);
  z-index: 998;
}

.modal.open+.body-blur {
  display: block;
}

.navigation-bar a {
  text-decoration: none;
  color: black;
  padding: 1vh;
  position: relative;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  z-index: 1;
  animation: fade-in 0.3s ease;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #66666636;
}

.navigation-bar a:hover .dropdown-content {
  display: block;
}

.dropdown-img {
  height: 10px;
  margin-left: 5px;
}

.dropdown {
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateY(20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.modal {
  animation: fade-in 0.5s ease-in;
}